@model API.Areas.Admin.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

<h2>Admin</h2>
<p>This is the admin area.</p>
<!-- there should be warnings here -->

<div id="adminTiles" class="container">
  <div class="row">
    <div class="col-sm-3 admin-tile">
      <h3>Languages</h3>
      <p><span class="taggloo-red">@Model.AllLanguages?.Count()</span> Languages configured across <span class="taggloo-red">@Model.AllLanguages?.Sum(q=>q.DictionariesCount)</span> Dictionaries.</p>
      <p class="admin-tile-bottom"><a href="@Url.Action("Index","Languages", new { area = "Admin" })">Manage &gt;</a></p>
    </div>
    <div class="col-sm-3 admin-tile">
      <h3>Dictionaries</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-3 admin-tile">
      <h3>Users</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-3 admin-tile">
      <h3>Hangfire</h3>
      <p><span class="taggloo-red">@Model.NumberOfRecurringJobs</span> recurring jobs configured. 
        @if (Model.LastJobExecution.HasValue)
        {
          <text>The most recent execution was <span class="taggloo-red">@Model.LastJobExecution.Value.ToString("R")</span>.</text>
        }
        else
        {
          <text>No Jobs have ever run.</text>
        }
        @if (Model.NextJobExecution.HasValue)
        {
          <text>The next scheduled execution is <span class="taggloo-red">@(Model.NextJobExecution.Value.ToString("R"))</span>.</text>
        }
        else
        {
          <text>There are no more scheduled executions.</text>
        }
        </p> 
         
      <p class="admin-tile-bottom"><a href="/admin/hangfire">Dashboard &gt;</a></p>
    </div>
  </div>
</div>