@model Taggloo4.Web.Areas.Admin.ViewModels.Words.IndexViewModel

@{
    ViewBag.Title = "Words";
    Layout = "_Layout";
}

<h2>Words</h2>
<p>This is the admin area.</p>
<!-- there should be warnings here -->

<div class="filtered-paged-datagrid">
    <ul class="filters">
        @using (Html.BeginForm())
        {
            <li><input type="text" placeholder="Filter" name="query" /></li>
            <li><input type="submit" value="Search"></li>
        }   
    </ul>

    <table class="datagrid">
        <tr>
            <th id="thId">Id</th>
            <th id="thTheWord">Word</th>
            <th id="thDictionary">Dictionary</th>
            <th id="thLanguage">Language</th>
            <th id="thAppearsInPhrasesCount">Appears in Phrases</th>
        </tr>

        @foreach (var result in Model.Results)
        {
        <tr>
            <td headers="thId">
                <a href="@Url.Action("Details","Words",new { id = result.WordId })">
                    @result.WordId
                </a>
            </td>
            <td headers="thTheWord">@result.TheWord</td>
            <td headers="thDictionary">
                <a href="@Url.Action("Details","Dictionaries",new { id = result.DictionaryId })">
                    @result.DictionaryName
                </a>
            </td>
            <td headers="thLanguage">
                <a href="@Url.Action("Details","Languages",new { id = result.IetfLanguageTag })">
                    @result.LanguageName
                </a>
            </td>
            <td headers="thAppearsInPhrasesCount">@result.AppearsInPhrasesCount?.ToString("N0")</td>
        </tr>
        }
    </table>

    <ol class="page-numbers">
        @{
            bool haveInsertedEllipsis = false;
            for (int i = 1; i <= Model.NumberOfPages; i++)
            {
                if (i <= 3 ||
                    (i >= Model.CurrentPageNumber - 3 && i <= Model.CurrentPageNumber + 3) ||
                    i >= Model.NumberOfPages - 3
                   )
                {
                    haveInsertedEllipsis = false;
                    if (i == Model.CurrentPageNumber)
                    {
                        <li class="current-page"><strong>@i</strong></li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Index", "Words", new { from = (i-1) * Model.ItemsPerPage, itemsPerPage = Model.ItemsPerPage, })">@i</a></li>
                    }
                }
                else if (!haveInsertedEllipsis)
                {
                    <li>...</li>
                    haveInsertedEllipsis = true;
                }
            }
        }
    </ol>
    
    <p><strong>@Model.TotalUnpagedItems.ToString("N0")</strong> items</p>
</div>


