@using Taggloo4.Contract.Criteria
@model Taggloo4.Web.Areas.Admin.ViewModels.Words.IndexViewModel

@{
    ViewBag.Title = "Words";
    Layout = "_Layout";
}

<div class="admin">
    <h2>Words</h2>
    <p>This is the admin area.</p>
    <!-- there should be warnings here -->

    <div class="filtered-paged-datagrid">
        @using (Html.BeginForm(FormMethod.Get))
        {
        <ul class="filters">
            <li>@Html.TextBoxFor(m=>m.Query, new
                {
                placeholder="Filter"
                })</li>
            <li>@Html.DropDownListFor(m=>m.DictionaryId,Model.AllDictionariesOptions)</li>
            <li>@Html.DropDownListFor(m=>m.IetfLanguageTag,Model.AllLanguagesOptions)</li>
            <li><input type="submit" value="Search"></li>
            <li><a href="@Url.Action("Index", "Words", new {
                from = 0,
                itemsPerPage = Model.ItemsPerPage,
                sortBy = WordsSortColumn.WordId,
                sortDirection = SortDirection.Ascending})">Clear filters</a></li>
        </ul>
        }

        <table class="datagrid">
            <tr>
                <th id="thId">
                    <a href="@Url.Action("Index", "Words", new {
                    from = (Model.CurrentPageNumber-1) * Model.ItemsPerPage,
                    itemsPerPage = Model.ItemsPerPage,
                    sortBy = WordsSortColumn.WordId,
                    sortDirection = Model is { SortDirection: SortDirection.Ascending, SortBy: WordsSortColumn.WordId } ? SortDirection.Descending : SortDirection.Ascending,
                    query=Model.Query,
                    dictionaryId=Model.DictionaryId,
                    ietfLanguageTag=Model.IetfLanguageTag })">Id
                        @if (Model.SortBy == WordsSortColumn.WordId)
                        {
                        if (Model.SortDirection == SortDirection.Ascending)
                        {
                        <text><img src="../../img/sort-asc.png" /></text>
                        }
                        else
                        {
                        <text><img src="../../img/sort-desc.png" /></text>
                        }
                        }
                    </a>
                </th>
                <th id="thTheWord">
                    <a href="@Url.Action("Index", "Words", new {
                    from = (Model.CurrentPageNumber - 1) * Model.ItemsPerPage,
                    itemsPerPage = Model.ItemsPerPage,
                    sortBy = WordsSortColumn.TheWord,
                    sortDirection =  Model is { SortDirection: SortDirection.Ascending, SortBy: WordsSortColumn.TheWord } ? SortDirection.Descending : SortDirection.Ascending,
                    query=Model.Query,
                    dictionaryId=Model.DictionaryId,
                    ietfLanguageTag=Model.IetfLanguageTag })">Word
                        @if (Model.SortBy == WordsSortColumn.TheWord)
                        {
                        if (Model.SortDirection == SortDirection.Ascending)
                        {
                        <text><img src="../../img/sort-asc.png" /></text>
                        }
                        else
                        {
                        <text><img src="../../img/sort-desc.png" /></text>
                        }
                        }
                    </a>
                </th>
                <th id="thDictionary">
                    <a href="@Url.Action("Index", "Words", new {
                    from = (Model.CurrentPageNumber - 1) * Model.ItemsPerPage,
                    itemsPerPage = Model.ItemsPerPage,
                    sortBy = WordsSortColumn.Dictionary,
                    sortDirection =  Model is { SortDirection: SortDirection.Ascending, SortBy: WordsSortColumn.Dictionary } ? SortDirection.Descending : SortDirection.Ascending,
                    query=Model.Query,
                    dictionaryId=Model.DictionaryId,
                    ietfLanguageTag=Model.IetfLanguageTag })">Dictionary
                        @if (Model.SortBy == WordsSortColumn.Dictionary)
                        {
                        if (Model.SortDirection == SortDirection.Ascending)
                        {
                        <text><img src="../../img/sort-asc.png" /></text>
                        }
                        else
                        {
                        <text><img src="../../img/sort-desc.png" /></text>
                        }
                        }
                    </a>
                </th>
                <th id="thLanguage">
                    <a href="@Url.Action("Index", "Words", new {
                    from = (Model.CurrentPageNumber - 1) * Model.ItemsPerPage,
                    itemsPerPage = Model.ItemsPerPage,
                    sortBy = WordsSortColumn.Language, sortDirection = Model is { SortDirection: SortDirection.Ascending, SortBy: WordsSortColumn.Dictionary } ? SortDirection.Descending : SortDirection.Ascending,
                    query=Model.Query,
                    dictionaryId=Model.DictionaryId,
                    ietfLanguageTag=Model.IetfLanguageTag })">Language
                        @if (Model.SortBy == WordsSortColumn.Language)
                        {
                        if (Model.SortDirection == SortDirection.Ascending)
                        {
                        <text><img src="../../img/sort-asc.png"/></text>
                        }
                        else
                        {
                        <text><img src="../../img/sort-desc.png"/></text>
                        }
                        }
                    </a>
                </th>
                <th id="thAppearsInPhrasesCount">
                    <a href="@Url.Action("Index", "Words", new {
                    from = (Model.CurrentPageNumber - 1) * Model.ItemsPerPage,
                    itemsPerPage = Model.ItemsPerPage,
                    sortBy = WordsSortColumn.AppearsInPhrases,
                    sortDirection = Model is { SortDirection: SortDirection.Ascending, SortBy: WordsSortColumn.AppearsInPhrases } ? SortDirection.Descending : SortDirection.Ascending,
                    query=Model.Query,
                    dictionaryId=Model.DictionaryId,
                    ietfLanguageTag=Model.IetfLanguageTag })">Appears in Phrases
                        @if (Model.SortBy == WordsSortColumn.AppearsInPhrases)
                        {
                        if (Model.SortDirection == SortDirection.Ascending)
                        {
                        <text><img src="../../img/sort-asc.png"/></text>
                        }
                        else
                        {
                        <text><img src="../../img/sort-desc.png"/></text>
                        }
                        }
                    </a>
                </th>
            </tr>

            @foreach (var result in Model.Results)
            {
            <tr>
                <td headers="thId">
                    <a href="@Url.Action("Details","Words",new { id = result.WordId })">
                        @result.WordId
                    </a>
                </td>
                <td headers="thTheWord">@result.TheWord</td>
                <td headers="thDictionary">
                    <a href="@Url.Action("Details","Dictionaries",new { id = result.DictionaryId })">
                        @result.DictionaryName
                    </a>
                </td>
                <td headers="thLanguage">
                    <a href="@Url.Action("Details","Languages",new { id = result.IetfLanguageTag })">
                        @result.LanguageName
                    </a>
                </td>
                <td headers="thAppearsInPhrasesCount">@result.AppearsInPhrasesCount?.ToString("N0")</td>
            </tr>
            }
        </table>

        <ol class="page-numbers">
            @{
            bool haveInsertedEllipsis = false;
            for (int i = 1; i <= Model.NumberOfPages; i++)
            {
            if (i <= 3 ||
            (i >= Model.CurrentPageNumber - 3 && i <= Model.CurrentPageNumber + 3) ||
            i >= Model.NumberOfPages - 3
            )
            {
            haveInsertedEllipsis = false;
            if (i == Model.CurrentPageNumber)
            {
            <li class="current-page"><strong>@i</strong></li>
            }
            else
            {
            <li>
                <a href="@Url.Action("Index", "Words", new {
                from = (i - 1) * Model.ItemsPerPage,
                itemsPerPage = Model.ItemsPerPage,
                sortBy = WordsSortColumn.AppearsInPhrases,
                sortDirection = Model is { SortDirection: SortDirection.Ascending, SortBy: WordsSortColumn.AppearsInPhrases } ? SortDirection.Descending : SortDirection.Ascending,
                query=Model.Query,
                dictionaryId=Model.DictionaryId,
                ietfLanguageTag=Model.IetfLanguageTag })">@i</a></li>
            }
            }
            else if (!haveInsertedEllipsis)
            {
            <li>...</li>
            haveInsertedEllipsis = true;
            }
            }
            }
        </ol>

        <p><strong>@Model.TotalUnpagedItems.ToString("N0")</strong> items</p>
    </div>
</div>
