@model API.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(m=>m.EmailOrUserName, new
{
    @class="col-form-label-lg"
})
                @Html.TextBoxFor(q => q.EmailOrUserName, new
                {
                    @class = "form-control form-control-lg"
                })
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                 @Html.LabelFor(m=>m.Password, new
                {
                    @class="col-form-label-lg"
                })
                @Html.PasswordFor(m=>m.Password, new
                {
                    @class="form-control form-control-lg"
                })
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check">
                @Html.CheckBoxFor(m=>m.RememberMe, new
{
    id="RememberMe",
    @class="form-check-input"
})
                @Html.LabelFor(m=>m.RememberMe)
                
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

    </div>
</div>